#productPageCard{
    float: left;
    text-align: left;
    text-decoration: none;
    font-size: 150%;
    border: 4px solid var(--primary);
    border-radius: 15px;
    position: relative;
    width: 70%;
    height: fit-content;
    margin: 1%;
    overflow: hidden;
}


/* IMG =========================================================================== */
#productPageIMGContainer{
    border: 2px solid var(--primary);
    width: 40%;
    height: 20em;
    margin: 2em;
    border-radius: 15px;
    overflow: hidden;
}
#productPageIMG{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    object-fit: cover;
}

/* TEXT =========================================================================== */
#productPageTextContainer {
    font-size: 200%;
    position: absolute;
    width: 14em;
    right: 0%;
    top: 0%;
}
#productPageTextContainer img {
    position: absolute;
    scale: .5;
    top: 0.35rem;
    right: 1rem;
}  

/*Table ==============================================================================*/
#productPageTextContainer tr:nth-child(even) {
    background-color: #dddddd;
}
#productPageTextContainer table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 40%;
    width: 45%;
    float: right;
    margin-right: 5%;
}
#productPageTextContainer th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#preperation{
    margin: 0em 2em 2em 2em;
}

/* Similar ===========================================================================*/
#similar {
    width: 26%;
    height: fit-content;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 1% 1% 1% 0%;
}

.similarCard {
    height: 15rem;
    overflow: hidden;
    border: 4px solid var(--primary);
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 2%;
}
.similarCard img {
    width: 101%;
    height: 100%;
    transition: transform .4s ease-out;
    transform: translateZ(0);
    backface-visibility: hidden;
    object-fit: cover;
    scale: 1.0;
}
.similarCard img:hover{
    transition: transform .3s ease-in-out;
    transform: scale(1.1);
}
