<div class="content">
    {{ template "productpageCard.html" .recipe }}
    <div id="similar">
        <div class="similarCard">
            <img src="https://img.chefkoch-cdn.de/rezepte/3561111533733933/bilder/1324966/crop-642x428/wassermelonen-feta-salat-mit-minze.jpg" alt="">
        </div>
        <div class="similarCard">
            <img src="https://img.chefkoch-cdn.de/rezepte/3561111533733933/bilder/1324966/crop-642x428/wassermelonen-feta-salat-mit-minze.jpg" alt="">
        </div>
        <div class="similarCard">
            <img src="https://img.chefkoch-cdn.de/rezepte/3561111533733933/bilder/1324966/crop-642x428/wassermelonen-feta-salat-mit-minze.jpg" alt="">
        </div>
    </div>
</div>