<div id="productPageNutritonalValue">
    <table>
            <th>Nutritonal Value/100g</th>
        <tr>
            <td>kj/kcal</td>
            <td>{{ .Kcal }}/{{ .Kj }}</td>
        </tr>
        <tr>
            <td>Fat</td>
            <td>{{ .Fat }}</td>
        </tr>
        <tr>
            <td>Saturated Fat</td>
            <td>{{ .SaturatedFat }}</td>
        </tr>
        <tr>
            <td>Carbonhydrate</td>
            <td>{{ .Carbohydrate }}</td>
        </tr>
        <tr>
            <td>Sugar</td>
            <td>{{ .Sugar }}</td>
        </tr>
        <tr>
            <td>Protein</td>
            <td>{{ .Protein }}</td>
        </tr>
        <tr>
            <td>Salt</td>
            <td>{{ .Salt }}</td>
        </tr>
    </table> 
</div>
